.item-box {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-bottom: 5px;
	width: 40vw;
	min-height: 10vh;
}

.title {
	width: 10vw;
}

.author {
	width: 10vw;
}

.type {
	width: 10vw;
}

.blue {
	background-color: aqua;
}

.red {
	background-color: red;
}

.pink {
	background-color: pink;
}